body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
h1 {
    
}
#header {
    text-transform: uppercase;
    text-align: center;
    color: black;
}
#receipt {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: black;
}
h3 {
    text-align: center;
    color: white;
}

#customerInfo{
    background-color: lightslategrey;
    width: 500px;
    padding: 10px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}
#productInfo{
    background-color: lightslategrey;
    width: 500px;
    padding: 10px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}
#totalValues{
    background-color: lightslategrey;
    width: 500px;
    padding: 10px;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}
